.header-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.fachada {
    width: 100%;
}

.info {
    display: flex;
    margin: auto 5%;
    margin-top: -6%;    
    background-color: white;
}

.horario {
    width: 33.3%;
}

.contato {
    width: 33.3%;
    padding: 0 2%;
}

.entrada {
    width: 33.3%;
}


@media screen and (max-width: 1000px) {
    .info {
        flex-direction: column;
    }
    .horario {
        width: 100%;
        margin-bottom: 15%;
    }
    
    .contato {
        width: 100%;
        margin-bottom: 15%;
    }
    
    .entrada {
        width: 100%;
        margin-bottom: 15%;
    }
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: white;
    background-color: #0A8093;
    border-radius: 50%;
    background-size: 32px;
    height: 75px;
    width: 75px;
    margin-top: -12%;
    margin-left: 41.5%;
}

.info h1 {
    color: #0A8093;
    padding-bottom: 1.5em;
    font-size: 1.75em;
}

.info p {
    font-size: 1.2em;
    padding-bottom: 2%;
}

.contato a {
    color: #0A8093;
}

.entrada span {
    font-style: italic;
    text-transform: uppercase;
}

