.redes-sociais {
    margin: auto 15%;
}

.redes-sociais h1 {
    font-size: 2em;
    margin-top: 5%;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 4em;
    margin-top: 5%;
}

.instagram {
    background-image:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.facebook {
    color: #3b5998;
}

.youtube {
    color: #c4302b;
}